[tool.poetry]
name = "tap-ibm-db2"
version = "0.3.1"
description = "`Tap-DB2` is a Singer tap for IBM DB2 data sources."
readme = "README.md"
authors = ["Daniel Purtov"]
keywords = [
    "ELT",
    "IBM DB2",
    "DB2"
]
license = "MIT"
packages = [
    { include = "tap_db2" },
]

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
singer-sdk = { version="^0.31.1" }
ibm-db-sa = "^0.4.0"
sqlalchemy = "^2.0.20"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
singer-sdk = { version="^0.31.1", extras = ["testing"] }
black = "^23.7.0"
deptry = "^0.12.0"

[tool.mypy]
python_version = "3.9"
warn_unused_configs = true
plugins = "sqlmypy"

[tool.black]
line-length = 120

[tool.ruff]
ignore = [
    "ANN101",  # missing-type-self
    "ANN102",  # missing-type-cls
]
select = ["ALL"]
src = ["tap_db2"]
target-version = "py37"


[tool.ruff.flake8-annotations]
allow-star-arg-any = true

[tool.ruff.isort]
known-first-party = ["tap_db2"]

[tool.ruff.pydocstyle]
convention = "google"

[build-system]
requires = ["poetry-core>=1.0.8"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# CLI declaration
tap-db2 = 'tap_db2.tap:TapDB2.cli'
